body {
  font-family: Nanum Gothic, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;

  background-color: white;
}


/* header 시작 */
header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;  

  z-index: 3;
}

header .inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

header .inner .logo { 
  padding-left: 30px;
}

header .inner .headerNav .menu { 
  height: 100px;
  display: flex;
  align-items: flex-end;

  position: relative;
}

header .inner .headerNav .menu > li { 
  padding: 0 25px 30px 25px;
  font-size: 18px;
  position: relative;
} 

header .inner .headerNav .menu > li:hover {
  color: #000; 
  font-weight: 700;
  border-bottom: 2px solid rgba(5, 80, 150, 0.5);
}


header .inner .headerNav .menu > li::before {
  content: "";
  width: 3px;
  height: 10px;
  background-color: gray;

  position: absolute;
  top: 2px;
  left: 5px;
}

header .inner .headerNav .menu > li:first-child::before {
  display: none;
}

header .inner .headerNav .menu li ul.sub-menu { 
  position: absolute;
  top: 49px;
  left: 0;
  width: 100%; 
  z-index: 2;
  display: none;
}

header .inner .headerNav .menu li:hover ul.sub-menu { 
  display: block;
}

header .inner .headerNav .menu li .sub-menu li {
  padding: 10px;
}

header .inner .headerNav .menu li .sub-menu li > a { 
  color: black;
  font-size: 14px;  
} 

header .inner .headerNav .menu li .sub-menu li a:hover { 
  color: rgb(250, 5, 145);
} 

.menu-item-background {
  width: 100%;
  height: 150px;
  z-index: 1;
  display: none;

  background-color: white;
}


/* main -- promotion 시작 */
.promotion {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 1000px;
  background-color: orange;
}







