body {
  font-family: Nanum Gothic, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.btn {
  width: 200px;
  padding: 15px;
  border: 2px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-align: center;
  cursor: pointer;
  display: block;
  transition: .4s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}

.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}

.btn.btn--reverse {
  background-color: #333;
  color: #FFF;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}

.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}

.btn.btn--gold:hover {
  color: #FFF;
  background-color: #D9AA8A;
}

.btn.btn--white {
  color: #FFF;
  border-color: #FFF;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #FFF;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}



/* BACK TO POSITION ============================================================ */
.back-to-position {
  opacity: 0;
  transition-duration: 1s;
}

.back-to-position.to-up {
  transform: translateY(200px);
}

.back-to-position.to-left {
  transform: translateX(150px);
}

.back-to-position.to-right {
  transform: translateX(-150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateY(0);
}

.show .back-to-position.delay-1 {
  transition-delay: .3s;
}

.show .back-to-position.delay-2 {
  transition-delay: .6s;
}

.show .back-to-position.delay-3 {
  transition-delay: .9s;
}



/* 반응형 시작 ================================================================================== */
@media screen and (max-width: 1100px) {
  
  header .inner {
    flex-direction: column;
    width: 100%;
  }

  header .inner .logo {
    padding-top: 5px;
    margin-right: 300px; 
  }

  header .inner .headerNav .menu { 
    height: 50px;
  }

  section.promotion div.inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.information {
    height: 1300px;
  }

  section.information div.inner {
    width: 600px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
  }

  .information div.info-item {
    top: 200px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 600px;
  }

  .information .info-item .infor-item-group {
    flex-direction: column;
    width: 600px;
    padding-right: 0;
  }

  .information .info-item .infor-item-group > li {
    width: 520px;
    border-bottom: 1px solid #e5e5e5;
  }

  .information .info-item .infor-item-group > li h4.event { 
    padding-bottom: 32px;
  }

  .information div.inner > div.info-product {
    top: 900px;
    left: 0px;
    right: 0;
    margin: auto;
    width: 600px;
  }

  .information div.inner .info-product .info-product-item1-img {
    display: none;
  }

  section.aboutCo div.inner { 
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }

  section.aboutCo div.inner div.aboutCoNo { 
    display: none;
  }

  main section.ourProduction { 
    display: none;
  }

  footer {
    flex-direction: column;
  }

  footer > div.footer-logo > h1 {
    display: none;
  }

  footer > div.inner {
    width: 100%;
  }

  footer > div.footer-sns > h1 {
    display: none;
  }

}
/* 반응형 끝 ================================================================================== */



/* header 시작 ================================================================================ */
header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;  
  border-bottom: 1px solid lightblue;
  z-index: 3;
}

header .inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .inner .logo { 
  cursor: pointer;
}

header .inner .headerNav .menu { 
  display: flex;
  align-items: flex-end;
  position: relative;
}

header .inner .headerNav .menu > li { 
  padding: 70px 25px 10px 25px;
  font-size: 18px;
  position: relative;
  border-bottom: 2px solid transparent;
} 

header .inner .headerNav .menu > li:hover {
  color: #000; 
  font-weight: 700;
  border-bottom: 2px solid rgba(5, 80, 150, 0.5);
}

header .inner .headerNav .menu > li::before {
  content: "";
  width: 3px;
  height: 10px;
  background-color: gray;
  position: absolute;
  top: 72px;
  left: -2px;
}

header .inner .headerNav .menu > li:first-child::before {
  display: none;
}

header .inner .headerNav .menu li ul.sub-menu { 
  position: absolute;
  top: 100px;
  left: 5px;
  width: 100%; 
  z-index: 2;
  display: none;
}

header .inner .headerNav .menu li:hover ul.sub-menu { 
  display: block;
}

header .inner .headerNav .menu li .sub-menu li {
  padding: 10px;
  text-align: left;
}

header .inner .headerNav .menu li .sub-menu li > a { 
  color: black;
  font-size: 14px;
  font-weight: 10;  
} 

header .inner .headerNav .menu li .sub-menu li a:hover { 
  color: blue;
  font-weight: 700;
} 

.menu-item-background {
  width: 100%;
  height: 160px;
  z-index: 1;
  display: none;
  background-color: white;
}



/* main -- promotion 시작 ================================================================== */
.promotion {
  position: relative;
  margin-top: 120px;
  width: 100%;
  height: 741px;
  background-image: url("../IMG/section1_model.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.promotion div.inner {
  padding-top: 100px;
  margin: auto;
}

.promotion div.inner .quotation365 {
  width: 420px;
  text-align: left;
}

.promotion div.inner .quotation365 .webQutn365 {
  width: 250px;
  height: 60px;
  border-radius: 40px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 60px;  
  background-color: #333;
  cursor: pointer;
}

p.webQutn365--p1 {
  color: #000;
  margin-top: 20px;
  font-size: 45px;
  font-weight: 700;
}

p.webQutn365--p2 {
  color: rgb(0, 183, 255);
  margin-top: 20px;
  font-size: 45px;
  font-weight: 700;
}

p.webQutn365--p3 {
  color: #000;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 10;
}

p.webQutn365--p4 {
  color: #000;
  margin-top: 5px;
  font-size: 25px;
  font-weight: 10;
}

p.webQutn365--p5 {
  color: rgb(5, 16, 231);
  margin-top: 30px;
  font-size: 25px;
  font-weight: 700;
}

.promotion div.inner .btnGroup {
  margin-top: 20px;
  width: 420px;
  display: flex;
  justify-content: space-between;
}



/* main -- information 시작 =================================================================== */
.information {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: rgb(30, 150, 245);
}

.information div.inner {
  width: 1100px;
  padding-top: 100px;
  background-color: rgb(30, 150, 245);
  text-align: left;
  margin: 0 auto;
}

h1.info {
  font-size: 50px;
  font-weight: 700;
  color: whitesmoke;
}

.information .info-item {
  position: absolute;
  top: 200px;
  width: 1100px;
  border-radius: 20px;  
  background-color: #fff;
  overflow: hidden;
}

.information .info-item .infor-item-group {
  display: flex;
}

.information .info-item .infor-item-group > li {
  flex: 1;
  padding: 40px;
  cursor: pointer;
  position: relative;
}

.information .info-item .infor-item-group > li:hover {
  background-color: rgb(230, 230, 230);
}

.information .info-item .infor-item-group > li:before {
  content: "";
  width: 1px;
  height: 120px;
  background-color: #e5e5e5;
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.information .info-item .infor-item-group > li:first-child::before { 
  display: none;
}

.information .info-item .infor-item-group > li h3 { 
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid transparent;
}

.information .info-item .infor-item-group > li:hover h3 { 
  color: rgb(30, 150, 245);
  border-bottom: 1px solid gray;
}

.information .info-item .infor-item-group > li h4 { 
  font-size: 16px;
  color: gray;
  padding-bottom: 8px;
}

.information .info-item .infor-item-group > li h4.event { 
  color: orange;
  font-weight: 700;
}

.information .info-item .infor-item-group > li > span.item1-1 {
  font-size: 50px;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.information .info-item .infor-item-group > li > span.item2-1 {
  font-size: 50px;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.information .info-item .infor-item-group > li > span.item3-1 {
  font-size: 50px;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.information .info-item .infor-item-group > li > span.item4-1 {
  font-size: 50px;
  color: blueviolet;
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.information div.inner > .info-product {
  position: absolute;
  top: 400px;
  width: 1100px;
  height: 300px;
  border-radius: 20px;  
  background-color: rgba(35, 83, 216, 0.684);
  overflow: hidden;
}

.information div.inner > .info-product > .info-product-item1 {
  width: 300px;
  height: 45px;
  position: absolute;
  left: 30px;
  top: 50px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 10;
  color: #fff;
  text-align: center;
  line-height: 45px;
  background-color: rgb(55, 70, 245);
  cursor: pointer;
}

.information div.inner> .info-product > .info-product-item1-dist {
  position: absolute;
  left: 30px;
  top: 120px;
}

.information div.inner > .info-product > .info-product-item1-dist > h1 {
  font-size: 40px;
  font-weight: 700;
  color: yellow;
  margin: 20px 0;
}

.information div.inner > .info-product > .info-product-item1-dist > h3 {
  font-size: 18px;
  font-weight: 10;
  color: #fff;
  margin-bottom: 10px;
}

.information div.inner > .info-product > .info-product-item1-img {
  position: absolute;
  right: 30px;
  bottom: 0px;
  top: 0;
  margin: auto;
  border-radius: 5px;
}



/* main -- about Co. 시작 ====================================================================== */
section.aboutCo {
  height: 550px;
  background-color: #fff;  
}

section.aboutCo div.inner { 
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
}

section.aboutCo div.inner div.aboutCoDist {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.aboutCo div.inner div.aboutCoDist > h1 { 
  font-size: 50px;
  font-weight: 700;
  color:rgb(0, 183, 255);
}

section.aboutCo div.inner div.aboutCoDist > h2 { 
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 700;
}

section.aboutCo div.inner div.aboutCoDist > h3 { 
  margin-top: 15px;
  font-size: 18px;
  font-weight: 10;
}

section.aboutCo div.inner div.aboutCoDist > p { 
  margin-top: 40px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(55, 70, 245);
  cursor: pointer;
}

section.aboutCo div.aboutCoNo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section.aboutCo div.aboutCoNo .aboutCoNo-item { 
  text-align: right;
  padding-right: 20px;
  height: 80px;
  border-bottom: 1px solid rgb(210, 210, 210);
}

section.aboutCo div.aboutCoNo .aboutCoNo-item .aboutCoNo-title{ 
  font-size: 25px;
  font-weight: 700;
  color: #333;
  line-height: 80px;
}

section.aboutCo div.aboutCoNo .aboutCoNo-item .count { 
  margin-left: 30px;
  font-size: 45px;
  font-weight: 700;
  color:rgb(255, 180, 0);
  line-height: 80px;
}



/* main -- out production 시작 ====================================================================*/
section.ourProduction {
  background-color: #011944;
  height: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

section.ourProduction div.production-webQuotation365-dist {
  background-color: rgb(55, 70, 245);
  border-radius: 20px;
  width: 400px;
  height: 560px;
}

div.production-webQuotation365-dist .swiper .swiper-wrapper .swiper-slide h1.dist-slide {
  margin-top: 100px;
  padding-left: 20px;
  font-size: 40px;
  font-weight: 700;
  color:yellow;
}

div.production-webQuotation365-dist .swiper .swiper-wrapper .swiper-slide h2.dist-slide {
  margin-top: 50px;
  padding-left: 20px;
  font-size: 30px;
  font-weight: 700;
  color:white;
}

div.production-webQuotation365-dist .swiper .swiper-wrapper .swiper-slide h3.dist-slide {
  margin-top: 30px;
  padding-left: 25px;
  font-size: 18px;
  color:white;
}

div.production-webQuotation365-dist div.swiper {
  width: 400px;
  height: 560px;
  flex-shrink: 0;
}

section.ourProduction div.production-webQuotation365 {
  background-color: white;
  width: 870px;
  height: 550px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

div.production-webQuotation365 div.swiper {
  width: 860px;
  height: 540px;
  flex-shrink: 0;
}



/* start our product 시작 ====================================================================*/
.start-our-product {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: rgb(30, 150, 245);
}

.start-our-product div{ 
  padding-top: 100px;
}

.start-our-product div > h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: 700;
}

.start-our-product .start-our-product-button-group {
  display: flex;
  justify-content: center;
}

.start-our-product .start-our-product-button-group .start-our-product-phone { 
  position: relative;
  padding-top: 0;
  padding-left: 100px;
  background-color: rgb(55, 70, 245);
  border-radius: 20px;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
  
.start-our-product .start-our-product-button-group .start-our-product-phone span.material-symbols-outlined { 
  position: absolute;
  left:20px;
  top:20px;
  color: white;
  font-size: 60px;
} 

.start-our-product .start-our-product-button-group .start-our-product-phone h1 { 
  padding-top: 0;
  color: white;
  font-size: 20px;
  text-align: left;
}

.start-our-product .start-our-product-button-group .start-our-product-free-conslt {
  padding-top: 0;
  margin-left: 20px;
  width: 300px;
  height: 100px;
  background-color: white;
  border-radius: 20px;
}

.start-our-product .start-our-product-button-group .start-our-product-free-conslt > h1 {
  padding-top: 0;
  font-size: 30px;
  color: gray;
  line-height: 100px;
  cursor: pointer;
}

.start-our-product .start-our-product-button-group .start-our-product-free-conslt > h1:hover {
  background-color: gray;
  color: white;
  border-radius: 20px;
}



/* footer 시작 ================================================================================*/
footer {
  display: flex;
  align-items: center;
  height: 140px;
}

footer div.footer-logo {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div.inner {
  flex: 0.6;
}

footer div.inner h2 {
  font-size: 14px;
  margin: 10px 0;
  color: #333;
}

footer div.inner > h2.footer-dist-coname {
  font-size: 16px;
  color: blueviolet;
  font-weight: 700;
}

footer div.footer-sns {
  flex: 0.2;  
  display: flex;
}

footer div.footer-sns h1.sns { 
  padding: 0 10px ;
}



/* SCROLL TO TOP */
#to-top {
  position: fixed;
  bottom: 30px;
  right: 10px;
  z-index: 9;
  width: 42px;
  height: 42px;
  background-color: gray;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}