body {
  font-family: Nanum Gothic, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.btn {
  width: 200px;
  padding: 15px;
  border: 2px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-align: center;
  cursor: pointer;

  display: block;

  transition: .4s;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}

.btn.btn--brown:hover {
  color: #fff;
  background-color: #592b18;
}

.btn.btn--reverse {
  background-color: #333;
  color: #FFF;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}

.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}

.btn.btn--gold:hover {
  color: #FFF;
  background-color: #D9AA8A;
}

.btn.btn--white {
  color: #FFF;
  border-color: #FFF;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #FFF;
}

.inner {
  width: 1100px;
  margin: 0 auto;

  background-color: white;
}


/* ============================================================================= */

/* header 시작 */
header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;  

  z-index: 3;
}

header .inner {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

header .inner .logo { 
  padding-left: 30px;
}

header .inner .headerNav .menu { 
  height: 100px;
  display: flex;
  align-items: flex-end;

  position: relative;
}

header .inner .headerNav .menu > li { 
  padding: 0 25px 30px 25px;
  font-size: 18px;
  position: relative;
} 

header .inner .headerNav .menu > li:hover {
  color: #000; 
  font-weight: 700;
  border-bottom: 2px solid rgba(5, 80, 150, 0.5);
}


header .inner .headerNav .menu > li::before {
  content: "";
  width: 3px;
  height: 10px;
  background-color: gray;

  position: absolute;
  top: 2px;
  left: 5px;
}

header .inner .headerNav .menu > li:first-child::before {
  display: none;
}

header .inner .headerNav .menu li ul.sub-menu { 
  position: absolute;
  top: 49px;
  left: 0;
  width: 100%; 
  z-index: 2;
  display: none;
}

header .inner .headerNav .menu li:hover ul.sub-menu { 
  display: block;
}

header .inner .headerNav .menu li .sub-menu li {
  padding: 10px;
}

header .inner .headerNav .menu li .sub-menu li > a { 
  color: black;
  font-size: 14px;
  font-weight: 10;  
} 

header .inner .headerNav .menu li .sub-menu li a:hover { 
  color: blue;
  font-weight: 700;
} 

.menu-item-background {
  width: 100%;
  height: 150px;
  z-index: 1;
  display: none;

  background-color: white;
}


/* main -- promotion 시작 */
.promotion {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 741px;

  background-image: url("../IMG/section1_model.png");
}

.promotion .quotation365 {
  position: absolute;
  top: 100px;
  left: 200px;

  /* background-color: orange; */
}

.promotion .quotation365 .webQutn365 {
  width: 200px;
  height: 60px;
  border-radius: 40px;
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  line-height: 60px;
  
  background-color: #333;

  cursor: pointer;
}

p.webQutn365--p1 {
  color: #000;
  margin-top: 20px;
  font-size: 45px;
  font-weight: 700;
}

p.webQutn365--p2 {
  color: rgb(0, 183, 255);
  margin-top: 20px;
  font-size: 45px;
  font-weight: 700;
}

p.webQutn365--p3 {
  color: #000;
  margin-top: 20px;
  font-size: 25px;
  font-weight: 10;
}

p.webQutn365--p4 {
  color: #000;
  margin-top: 5px;
  font-size: 25px;
  font-weight: 10;
}

p.webQutn365--p5 {
  color: rgb(5, 16, 231);
  margin-top: 30px;
  font-size: 25px;
  font-weight: 700;
}

.promotion .btnGroup {
  position: absolute;
  width: 415px;
  top: 430px;
  left: 200px;

  display: flex;
  justify-content: space-between;
}



